
.linkiCSS {
   margin-top: 55px;
   padding: 20px 0 20px 0;
    /* background-color: white;*/
    background: #fefcea;
background: -moz-linear-gradient(left, #fefcea 0%, #f1da36 100%);
background: -webkit-linear-gradient(left, #fefcea 0%,#f1da36 100%);
background: linear-gradient(to right, #fefcea 0%,#f1da36 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 );
}
.linkiCSS ul {
    list-style-type: none;
    width: 75%;
    margin: 0 auto;
}
.linkiCSS li {
    padding-top: .5em;
    border-bottom: 1px dotted black;
    font-style: oblique;
}
.linkiCSS li a > i {
    color: red;
    font-size: 2em;
}

h4 a:hover {}


.linkiCSS  a {/* -webkit-transition: all .2s ease-in-out; */-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;display: block;color: #424242;padding: 20px 5px;
}
.linkiCSS a:hover { background: #fcf5f5; color: #4c006b; padding: 20px 12px; transition: .2s;}
.linkiCSS a:hover { background: #ffdb00; transition: .5s;}